#!/usr/bin/make -f

export PYBUILD_INSTALL_ARGS=--install-lib=/usr/share/wb-diag-collect/
export PYBUILD_DESTDIR_python3=debian/wb-diag-collect
export DEB_VERSION=$(shell dpkg-parsechangelog -S Version)

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_installinit:
	dh_installinit --noscripts

